# Extensions to ignore everywhere
*.swp
*.swo
*.o
*.so
*.dSYM
.DS_Store
*.a

# Files and directories to ignore
tags
a.out
build
CMakeFiles

# Demo that are tracked independently
demos/*
!demos/CMakeLists.txt
!demos/events_and_shader
